

.carousel {
   margin-left: 3px;
}

.laptop {
   width: 430px;
   position: relative;
   height: 900px;
   border-radius: 30px;
   margin-top: 26px;
   border: 3px solid black;
   overflow: hidden;
}

@media (max-width:448px) {
   .laptop {
      height: 100vh;
      border: none;
      margin-top: 0px;
      border-radius: inherit;
      margin-top: -5px;
   }
   .all-content {
      margin-bottom: 100px;
      height: 80%;
      padding-bottom: 10px;
   }

 
}

.all-content {
   margin-top: 60px;
   max-height: 740px;
   padding-bottom: 10px;
   overflow-y: auto;
}


.carousel .item {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}

.carousel .item img {
   z-index: 200;
   object-fit: cover;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   border: 1px solid #55555523;
}

.add-new-habbits .task {
   background: rgba(255, 0, 0, 0.836) ;
   margin-right: 46px;
   position: relative;
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   color: white;
   text-transform: capitalize;
}

.add-new-habbits .icon-check-mark {
  margin-top: -44px;
  display: flex;
  float: right;
  margin-right: 10px;
  z-index: 200; 
  overflow: hidden;
  padding: 2px;
  background: red;
  border-radius: 4px;
  height: 34px;
  width: 33px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-new-habbits .task-2 {
   background: green;
   padding: 5px;
}

.check-mark {
   color: #fff;
}

@media (max-width:400px) {
   .app {
      width: 100%;
   }
}