


.read-container{
   height: 270px;
   width: 340px;
   z-index: 500;
   margin-left: -352px;
   background: #fff;
   padding: 10px;
   border-radius: 5px;
   position: fixed;
   top: 41%;
   box-shadow: 5px 5px 5px #55555509 , -5px -5px 5px #5555550c;
   border: 1px solid #5555551f;
}

.read-container .video {
  border-radius: 5px;
}

@media (max-width:400px) {
  .read-container {
    width: 280px;
    height: 250px;
    margin-left: -307px;
  }
}

@media (max-width:375px) {
  .read-container {
    width: 280px;
    height: 250px;
    margin-left: -300px;
  }
}

@media (max-width:360px) {
  .read-container {
    width: 280px;
    height: 250px;
    margin-left: -293px;
  }
}
