

.nt-demo {
    position: relative;
}


.nt-demo::before {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    left: -13px;
    height: 50px;
    background: gold;
    border-radius: 5px;
}

.notification-container {
    width: 430px;
}

@media (max-width:430px) {
    .notification-container {
        width: 100%;
    }

    
}