

.gear-option:hover {
     background-color: rgba(128, 128, 128, 0.288);
     cursor: pointer;
};


.profile {
     width: 400px;
}

@media (max-width:400px) {
     .profile-container{
          width: 100%;
     }
}